@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body,h1{
    font-family: 'Inconsolata', monospace; 
    box-sizing: border-box; 
    background: linear-gradient(to right, #f583dc, #F99365); 
    color: #fff;
    font-size: 130px;
    text-align: center;
    letter-spacing: -10px;
}

#h2 {
    padding-top: 20px;
    font-size: 20px;
    letter-spacing: 0;
}

#button {
    font-family: 'Inconsolata', monospace;
    background: rgb(199, 93, 231); 
    border: none; 
    color: #fff; 
    padding: 0 20px; 
    height: 41px; 
    border-radius: 10px; 
    font-size: 25px; 
    line-height: 40px;
    outline:none;
    transition:transform 0.3s ease-out, background 0.3s ease-out;
    cursor:pointer;
}

.button:active{
    transform:translateY(2px)
}

.text::selection {
    background:#fff;
    color:#07c46c;
}

.button:hover {
    background:#07c46c;
}