@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,300,200);

body {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 1.6em;
  font-weight: 300;
  color: white;
}

p {
  margin-bottom: 1em;
}

header {
  border-bottom: solid 1px #e0e0e0;
  margin: 0 0 20px 0;
}

.pageTitle,
.pageSubTitle {
  font-family: 'Titillium', sans-serif;
  text-transform: uppercase;
  color: whitesmoke;
  text-align: center;
}

.pageTitle {
  color: red;
}

.pageTitle {
  font-size: 3em;
  font-weight: 650;
  line-height: 2em;
}

.pageSubTitle {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: 300;
}

.background {
  background: 
    url("../images/teardropbg.png")
    repeat;
  background-size: 100% auto;
  position: fixed;
  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  z-index: -1
}

.wrapper {
  width: 900px;
  padding: 45px;
  margin: 20px auto;
  background:black;
  box-shadow:  6px 6px 6px 6px rgba(0, 0, 0, 0.25);
}

.slogan {
  position: fixed;
  display: block;
  top: 700px;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background: black;
}

.sloganTitle {
  font-size: 100px;
  font-weight: 800;
  line-height: 80px;
  color: black;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
}

.wrapper1 {
  height: 100%;
  margin: 0 auto;
  padding-top: 130px;
  text-align: center;
}

.hide {
  visibility: hidden;
}

.buttonau {
  width: 10em;
  height: 4em;
  background: black;  
  border-radius: 0.189em;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  margin: auto;
  position: fixed;
  bottom: 15px;
  right: 10px;
  transition: background 0.5s;
}

.buttonnz {
  width: 10em;
  height: 4em;
  background: black;  
  border-radius: 0.189em;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  margin: auto;
  position: fixed;
  bottom: 15px;
  left: 10px;
  transition: background 0.5s;
}

.buttonau:hover {
  background: grey;
}
.buttonnz:hover {
  background: grey;
}

.buttonau p {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 0.063em;
  line-height: 3.0em;
  color: #fff;  
  text-shadow: 0 0 0.063em #7a7a7a;
}

.buttonnz p {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 0.063em;
  line-height: 3.0em;
  color: #fff;  
  text-shadow: 0 0 0.063em #7a7a7a;
}

#heart {
    position: relative;
    width: 100px;
    height: 100px;
    animation: heartbeat 1s infinite;
    margin:0 auto
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #fff;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}