html, body {
    background: #000;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    height: 100%;
    align-content: center;
}

h1 {
    align-content: center;
}