body{
	border-right: 4px;
}

h1 {
	display: inline;
	position: relative;
	font: 205px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5); 
}

h1:after {
	content: "ad.elai";
	position: absolute; left: 10px; top: 5px;
	color: rgba(255,0,0,0.5);   
}

h2 {
	padding-left: 75px;
	font-family: serif;
	font-display: bold;
	font-size: 32px;
}

ol {
	font: helvetica, sans-serif;
	font-family: sans-serif;
	line-height: 100px;
	letter-spacing: 2px;
}
.yet {
	font-style: oblique;
	font-weight: bolder;
	padding-left: 81px;
}

.spacers {
	padding-left: 65px;
}

.bigger {
	padding-left: 143px;
}

.biggest {
	padding-left: 710px;
}